body {
  font: 20px "Century Gothic", Futura, sans-serif;
  line-height: 2;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  border-bottom: 2px solid #000;
  font-size: 2.5rem;
  margin: 0;
}

ul {
  padding: 0;
  line-height: 1;
}

#root {
  margin: 0 auto;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.game-info li {
  list-style: none;
}

.status {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 33.333%;
  border: 6px solid #222;
}

td::after {
  content: "";
  display: block;
  margin-top: 100%;
}

td {
  border: 6px solid #222;
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

.square {
  background: #fff;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

#board button {
  border: none;
}

.next {
  margin: 30px 0;
  width: 100%;
  border-radius: 3px;
  text-decoration: none;
  color: #FBE9E7;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF8A65), to(#FF7043));
  background: linear-gradient(to bottom, #FF8A65 0%, #FF7043 100%);
}



.kbd-navigation .square:focus {
  background: #ddd;
}



.btn {
  display: inline-block;
  margin-bottom: 5px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  whitespace: nowrap;
  font-size: 1.4rem;
  border-radius: 3px;
  border: 1px solid transparent;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  text-decoration: none;
  color: #fff;
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
}

.btn-primary {
  color: #e3f2fd;
  border-color: #1e88e5;
  background: -webkit-gradient(linear, left top, left bottom, from(#64b5f6), to(#42a5f5));
  background: linear-gradient(to bottom, #64b5f6 0%, #42a5f5 100%);
  -webkit-box-shadow: inset 0 1px #bbdefb, 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px #bbdefb, 0 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  border-color: #42a5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#90caf9), to(#64b5f6));
  background: linear-gradient(to bottom, #90caf9 0%, #64b5f6 100%);
  -webkit-box-shadow: inset 0 1px #e3f2fd, 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px #e3f2fd, 0 2px 3px rgba(0, 0, 0, 0.2);
}

.btn-primary:active,
.btn-primary.active {
  border-color: #1976d2;
  color: #bbdefb;
  background: -webkit-gradient(linear, left top, left bottom, from(#42a5f5), to(#1e88e5));
  background: linear-gradient(to bottom, #42a5f5 0%, #1e88e5 100%);
  -webkit-box-shadow: inset 0 2px 2px #1976d2;
  box-shadow: inset 0 2px 2px #1976d2;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary {
  background: #90caf9;
  border-color: #64b5f6;
}

.btn-primary.btn-flat {
  color: #e3f2fd;
  border-color: transparent;
  background: #42a5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary.btn-flat:hover,
.btn-primary.btn-flat:focus,
.btn-primary.btn-flat.focus {
  border-color: transparent;
  color: #fff;
  background: #64b5f6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary.btn-flat:active,
.btn-primary.btn-flat.active {
  border-color: #1e88e5;
  color: #bbdefb;
  background: #1e88e5;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary.btn-flat.disabled,
.btn-primary.btn-flat[disabled],
fieldset[disabled] .btn-primary.btn-flat {
  background: #90caf9;
  border-color: #90caf9;
}

.btn-danger {
  color: #FBE9E7;
  border-color: #F4511E;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF8A65), to(#FF7043));
  background: linear-gradient(to bottom, #FF8A65 0%, #FF7043 100%);
  -webkit-box-shadow: inset 0 1px #FFCCBC, 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px #FFCCBC, 0 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  border-color: #FF7043;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFAB91), to(#FF8A65));
  background: linear-gradient(to bottom, #FFAB91 0%, #FF8A65 100%);
  -webkit-box-shadow: inset 0 1px #FBE9E7, 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px #FBE9E7, 0 2px 3px rgba(0, 0, 0, 0.2);
}

.btn-danger:active,
.btn-danger.active {
  border-color: #E64A19;
  color: #FFCCBC;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7043), to(#F4511E));
  background: linear-gradient(to bottom, #FF7043 0%, #F4511E 100%);
  -webkit-box-shadow: inset 0 2px 2px #E64A19;
  box-shadow: inset 0 2px 2px #E64A19;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger {
  background: #FFAB91;
  border-color: #FF8A65;
}

.btn-danger.btn-flat {
  color: #FBE9E7;
  border-color: transparent;
  background: #FF7043;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-danger.btn-flat:hover,
.btn-danger.btn-flat:focus,
.btn-danger.btn-flat.focus {
  border-color: transparent;
  color: #fff;
  background: #FF8A65;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-danger.btn-flat:active,
.btn-danger.btn-flat.active {
  border-color: #F4511E;
  color: #FFCCBC;
  background: #F4511E;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-danger.btn-flat.disabled,
.btn-danger.btn-flat[disabled],
fieldset[disabled] .btn-danger.btn-flat {
  background: #FFAB91;
  border-color: #FFAB91;
}

.game-info li:last-child:not(:first-child) {
  /* Scale up last move every time, but not the first one (first is always "restart game") */
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}